<h1>Decks#new</h1>

<%= form_for ([current_user , @deck]) do |d| %>

<%= d.text_field  :name %>

<%= d.hidden_field :cardlist, :value => "" %>
<%= d.hidden_field :user_id, :value => current_user.id %>

<%= d.submit %>


	
<% end %>
