<%= form_tag "/search", :name => "searchForm"  do %> <!-- The same search bar as in edit page -->
<div>
	<div>Name: <input type="text" name="card_name" id="card_name" placeholder="Enter the name of the card"></div>
	<div>
		Color:
		<select id="card_color" name="card_color">
			<option value="">Select a color</option>
			<option value="Red">Red</option>
			<option value="Green">Green</option>
			<option value="Black">Black</option>
			<option value="Blue">Blue</option>
			<option value="White">White</option>
		</select>
	</div>
	<div>
	Type:
	<select id="card_type" name="card_type">
		<option value="">Pick a card type</option>	
    	<option value="Artifacts">Artifacts </option>
    	<option value="Creatures">Creatures </option>
    	<option value="Enchantments">Enchantments </option>
    	<option value="Instants">Instants </option>
    	<option value="Lands">Lands </option>
    	<option value="Planeswalkers">Planeswalkers </option>
    	<option value="Sorceries">Sorceries </option>
    	<option value="Tribals">Tribals </option>
    	<option value="Planes">Planes </option>
    	<option value="Phenomena">Phenomena </option>
    	<option value="Vanguards">Vanguards </option>
    	<option value="Schemes">Schemes </option>
    	<option value="Conspiracies">Conspiracies</option>
	</select>
	</div>

	<div>
	Creature Type:
	<select id="creature_type" name="creature_type">
		<option value="">List of all creature types</option>
	    <option value="Advisor">Advisor</option>
	    <option value="Aetherborn">Aetherborn</option>
	    <option value="Ally">Ally</option>
	    <option value="Angel">Angel</option>
	    <option value="Antelope">Antelope</option>
	    <option value="Ape">Ape</option>
	    <option value="Archer">Archer</option>
	    <option value="Archon">Archon</option>
	    <option value="Artificer">Artificer</option>
	    <option value="Assassin">Assassin</option>
	    <option value="Assembly-Work">Assembly-Work</option>
	    <option value="Atog">Atog</option>
	    <option value="Aurochs">Aurochs</option>
	    <option value="Avatar">Avatar</option>
	    <option value="Azra">Azra</option>
	    <option value="Badger">Badger</option>
	    <option value="Barbarian">Barbarian</option>
	    <option value="Basilisk">Basilisk</option>
	    <option value="Bat">Bat</option>
	    <option value="Bear">Bear</option>
	    <option value="Beast">Beast</option>
	    <option value="Beeble">Beeble</option>
	    <option value="Berserker">Berserker</option>
	    <option value="Bird">Bird</option>
	    <option value="Blinkmoth">Blinkmoth</option>
	    <option value="Boar">Boar</option>
	    <option value="Bringer">Bringer</option>
	    <option value="Brushwagg">Brushwagg</option>
	    <option value="Camarid">Camarid</option>
	    <option value="Camel">Camel</option>
	    <option value="Caribou">Caribou</option>
	    <option value="Carrier">Carrier</option>
	    <option value="Cat">Cat</option>
	    <option value="Centaur">Centaur</option>
	    <option value="Cephalid">Cephalid</option>
	    <option value="Chimera">Chimera</option>
	    <option value="Citizen">Citizen</option>
	    <option value="Cleric">Cleric</option>
	    <option value="Cockatrice">Cockatrice</option>
	    <option value="Construct">Construct</option>
	    <option value="Coward">Coward</option>
	    <option value="Crab">Crab</option>
	    <option value="Crocodile">Crocodile</option>
	    <option value="Cyclops">Cyclops</option>
	    <option value="Dauthi">Dauthi</option>
	    <option value="Demon">Demon</option>
	    <option value="Deserter">Deserter</option>
	    <option value="Devil">Devil</option>
	    <option value="Dinosaur">Dinosaur</option>
	    <option value="Djinn">Djinn</option>
	    <option value="Dragon">Dragon</option>
	    <option value="Drake">Drake</option>
	    <option value="Dreadnought">Dreadnought</option>
	    <option value="Drone">Drone</option>
	    <option value="Druid">Druid</option>
	    <option value="Dryad">Dryad</option>
	    <option value="Dwarf">Dwarf</option>
	    <option value="Efreet">Efreet</option>
	    <option value="Egg">Egg</option>
	    <option value="Elder">Elder</option>
	    <option value="Eldrazi">Eldrazi</option>
	    <option value="Elemental">Elemental</option>
	    <option value="Elephant">Elephant</option>
	    <option value="Elf">Elf</option>
	    <option value="Elk">Elk</option>
	    <option value="Eye">Eye</option>
	    <option value="Faerie">Faerie</option>
	    <option value="Ferret">Ferret</option>
	    <option value="Fish">Fish</option>
	    <option value="Flagbearer">Flagbearer</option>
	    <option value="Fox">Fox</option>
	    <option value="Frog">Frog</option>
	    <option value="Fungus">Fungus</option>
	    <option value="Gargoyle">Gargoyle</option>
	    <option value="Germ">Germ</option>
	    <option value="Giant">Giant</option>
	    <option value="Gnome">Gnome</option>
	    <option value="Goat">Goat</option>
	    <option value="Goblin">Goblin</option>
	    <option value="God">God</option>
	    <option value="Golem">Golem</option>
	    <option value="Gorgon">Gorgon</option>
	    <option value="Graveborn">Graveborn</option>
	    <option value="Gremlin">Gremlin</option>
	    <option value="Griffin">Griffin</option>
	    <option value="Hag">Hag</option>
	    <option value="Harpy">Harpy</option>
	    <option value="Hellion">Hellion</option>
	    <option value="Hippo">Hippo</option>
	    <option value="Hippogriff">Hippogriff</option>
	    <option value="Homarid">Homarid</option>
	    <option value="Homunculus">Homunculus</option>
	    <option value="Horror">Horror</option>
	    <option value="Horse">Horse</option>
	    <option value="Hound">Hound</option>
	    <option value="Human">Human</option>
	    <option value="Hydra">Hydra</option>
	    <option value="Hyena">Hyena</option>
	    <option value="Illusion">Illusion</option>
	    <option value="Imp">Imp</option>
	    <option value="Incarnation">Incarnation</option>
	    <option value="Insect">Insect</option>
	    <option value="Jackal">Jackal</option>
	    <option value="Jellyfish">Jellyfish</option>
	    <option value="Juggernaut">Juggernaut</option>
	    <option value="Kavu">Kavu</option>
	    <option value="Kirin">Kirin</option>
	    <option value="Kithkin">Kithkin</option>
	    <option value="Knight">Knight</option>
	    <option value="Kobold">Kobold</option>
	    <option value="Kor">Kor</option>
	    <option value="Kraken">Kraken</option>
	    <option value="Lamia">Lamia</option>
	    <option value="Lammasu">Lammasu</option>
	    <option value="Leech">Leech</option>
	    <option value="Leviathan">Leviathan</option>
	    <option value="Lhurgoyf">Lhurgoyf</option>
	    <option value="Licid">Licid</option>
	    <option value="Lizard">Lizard</option>
	    <option value="Manticore">Manticore</option>
	    <option value="Masticore">Masticore</option>
	    <option value="Mercenary">Mercenary</option>
	    <option value="Merfolk">Merfolk</option>
	    <option value="Metathran">Metathran</option>
	    <option value="Minion">Minion</option>
	    <option value="Minotaur">Minotaur</option>
	    <option value="Mole">Mole</option>
	    <option value="Monger">Monger</option>
	    <option value="Mongoose">Mongoose</option>
	    <option value="Monk">Monk</option>
	    <option value="Monkey">Monkey</option>
	    <option value="Moonfolk">Moonfolk</option>
	    <option value="Mutant">Mutant</option>
	    <option value="Myr">Myr</option>
	    <option value="Mystic">Mystic</option>
	    <option value="Naga">Naga</option>
	    <option value="Nautilus">Nautilus</option>
	    <option value="Nephilim">Nephilim</option>
	    <option value="Nightmare">Nightmare</option>
	    <option value="Nightstalker">Nightstalker</option>
	    <option value="Ninja">Ninja</option>
	    <option value="Noggle">Noggle</option>
	    <option value="Nomad">Nomad</option>
	    <option value="Nymph">Nymph</option>
	    <option value="Octopus">Octopus</option>
	    <option value="Ogre">Ogre</option>
	    <option value="Ooze">Ooze</option>
	    <option value="Orb">Orb</option>
	    <option value="Orc">Orc</option>
	    <option value="Orgg">Orgg</option>
	    <option value="Ouphe">Ouphe</option>
	    <option value="Ox">Ox</option>
	    <option value="Oyster">Oyster</option>
	    <option value="Pangolin">Pangolin</option>
	    <option value="Pegasus">Pegasus</option>
	    <option value="Pentavite">Pentavite</option>
	    <option value="Pest">Pest</option>
	    <option value="Phelddagrif">Phelddagrif</option>
	    <option value="Phoenix">Phoenix</option>
	    <option value="Pilot">Pilot</option>
	    <option value="Pincher">Pincher</option>
	    <option value="Pirate">Pirate</option>
	    <option value="Plant">Plant</option>
	    <option value="Praetor">Praetor</option>
	    <option value="Prism">Prism</option>
	    <option value="Processor">Processor</option>
	    <option value="Rabbit">Rabbit</option>
	    <option value="Rat">Rat</option>
	    <option value="Rebel">Rebel</option>
	    <option value="Reflection">Reflection</option>
	    <option value="Rhino">Rhino</option>
	    <option value="Rigger">Rigger</option>
	    <option value="Rogue">Rogue</option>
	    <option value="Sable">Sable</option>
	    <option value="Salamander">Salamander</option>
	    <option value="Samurai">Samurai</option>
	    <option value="Sand">Sand</option>
	    <option value="Saproling">Saproling</option>
	    <option value="Satyr">Satyr</option>
	    <option value="Scarecrow">Scarecrow</option>
	    <option value="Scion">Scion</option>
	    <option value="Scorpion">Scorpion</option>
	    <option value="Scout">Scout</option>
	    <option value="Serf">Serf</option>
	    <option value="Serpent">Serpent</option>
	    <option value="Servo">Servo</option>
	    <option value="Shade">Shade</option>
	    <option value="Shaman">Shaman</option>
	    <option value="Shapeshifter">Shapeshifter</option>
	    <option value="Sheep">Sheep</option>
	    <option value="Siren">Siren</option>
	    <option value="Skeleton">Skeleton</option>
	    <option value="Slith">Slith</option>
	    <option value="Sliver">Sliver</option>
	    <option value="Slug">Slug</option>
	    <option value="Snake">Snake</option>
	    <option value="Soldier">Soldier</option>
	    <option value="Soltari">Soltari</option>
	    <option value="Spawn">Spawn</option>
	    <option value="Specter">Specter</option>
	    <option value="Spellshaper">Spellshaper</option>
	    <option value="Sphinx">Sphinx</option>
	    <option value="Spider">Spider</option>
	    <option value="Spike">Spike</option>
	    <option value="Spirit">Spirit</option>
	    <option value="Splinter">Splinter</option>
	    <option value="Sponge">Sponge</option>
	    <option value="Squid">Squid</option>
	    <option value="Squirrel">Squirrel</option>
	    <option value="Starfish">Starfish</option>
	    <option value="Surrakar">Surrakar</option>
	    <option value="Survivor">Survivor</option>
	    <option value="Tetravite">Tetravite</option>
	    <option value="Thalakos">Thalakos</option>
	    <option value="Thopter">Thopter</option>
	    <option value="Thrull">Thrull</option>
	    <option value="Treefolk">Treefolk</option>
	    <option value="Trilobite">Trilobite</option>
	    <option value="Triskelavite">Triskelavite</option>
	    <option value="Troll">Troll</option>
	    <option value="Turtle">Turtle</option>
	    <option value="Unicorn">Unicorn</option>
	    <option value="Vampire">Vampire</option>
	    <option value="Vedalken">Vedalken</option>
	    <option value="Viashino">Viashino</option>
	    <option value="Volver">Volver</option>
	    <option value="Wall">Wall</option>
	    <option value="Warrior">Warrior</option>
	    <option value="Weird">Weird</option>
	    <option value="Werewolf">Werewolf</option>
	    <option value="Whale">Whale</option>
	    <option value="Wizard">Wizard</option>
	    <option value="Wolf">Wolf</option>
	    <option value="Wolverine">Wolverine</option>
	    <option value="Wombat">Wombat</option>
	    <option value="Worm">Worm</option>
	    <option value="Wraith">Wraith</option>
	    <option value="Wurm">Wurm</option>
	    <option value="Yeti">Yeti</option>
	    <option value="Zombie">Zombie</option>
	    <option value="Zubera">Zubera </option>
	</select>
	</div>
	<div>
	    Set:
		
			<%=select_tag "set", options_from_collection_for_select($set, 'code', 'name'),{:include_blank => 'Set list'} %>
    </div>
    <input type="hidden" name="user_id" value="<%= current_user.id %>">
    <input type="hidden" name="deck_id" value="<%= params[:id] %>">
    <input type="hidden" name="page_id" value="search">
    <input type="submit" id="search" value="Search">
</div>
</div>
<% end %>


<div>
	<% for card in @cards %>
		<div> <%= card.name %> </div>
	<% end %>
</div>
	<%if @pagenum.to_i == 1 %>
		<ul>
			<!-- To resolve the issue where we had to pass all the parameters of your search we had to put it in the url. Also there's more
			pages that we needed to back out of due to how nested things were. Need to do more research on how to do this more streamline -->
			<li> <a href="../../../../../../../../../../users/<%= params[:user_id] %>/decks/<%= params[:id] %>/result/<%= @search_name %>%/<%= @search_color %>%/<%= @search_type %>%/<%= @search_creature %>%/<%= @search_set%>%/<%= @pagenum.to_i + 1 %>">Next</a></li>
		</ul>
	<% else %>
		<ul>
			<li> <a href="../../../../../../../../../../users/<%= params[:user_id] %>/decks/<%= params[:id] %>/result/<%= @search_name %>%/<%= @search_color %>%/<%= @search_type %>%/<%= @search_creature %>%/<%= @search_set%>%/<%= @pagenum.to_i + 1 %>">Next</a></li>
			<li> <a href="../../../../../../../../../../users/<%= params[:user_id] %>/decks/<%= params[:id] %>/result/<%= @search_name %>%/<%= @search_color %>%/<%= @search_type %>%/<%= @search_creature %>%/<%= @search_set%>%/<%= @pagenum.to_i - 1 %>">Previous</a></li>
		</ul>
	<% end %>