<!DOCTYPE html>
<html>
  <head>
    <title>MtgDeckBuilder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <base href="https://mtg-deckcreator.herokuapp.com/">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- Page Wrapper -->
    <div class='page-wrapper'>

      <!-- Navigation Bar -->
      <nav>
        <ul>
          <li><a href="/"><div id="mtglogo"></div></a></li>
          <li><a href="/users" class="navtextlink">USERS</a></li>
          <li><a href="/decks" class="navtextlink">DECKS</a></li>

          <% if user_signed_in? %>
            <li><%= link_to 'PROFILE', user_profile_path(current_user), :class => "navtextlink" %></li>
            <li><%= link_to 'NEW DECK', new_user_deck_path(current_user), :class => "navtextlink" %></li>
            <li><%= link_to 'SIGN OUT', destroy_user_session_path, method: :delete, :class => "navtextlink" %></li>
          <% else %>
            <li><a href="/users/sign_in" class="navtextlink">LOG IN</a></li>
            <li><a href="/users/sign_up" class="navtextlink">SIGN UP</a></li>
          <% end %>
        </ul>
      </nav>

      <!-- Content Area -->
      <div class='main-content'>
        <%= yield %>
      </div>

  </body>
</html>
